.App{
    padding: 10px;
    display: flex;
}
.error{
    color: red;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}
.active-filter{
    background-color: red;
    color: white;
    border: none;
    outline: none;
}
.todoList{
    margin: 0 20px 0 0 ;
}